{% block footer %}
    <footer id="gtco-footer" role="contentinfo" data-stellar-background-ratio="0.5">
        <div class="overlay" id="footerbar"></div>
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-12 text-center">
                        <div class="gtco-widget" id="firstfooter">
                            <h3 style="color:black">{% trans %} footer.touch {% endtrans %}</h3>
                            <ul class="gtco-quick-contact">
                                <li><a style="color:orange" href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1479472193&rver=6.4.6456.0&wp=MBI_SSL_SHARED&wreply=https:%2F%2Fmail.live.com%2Fdefault.aspx%3Fmkt%3Des&lc=2058&id=64855&mkt=es-US&cbcxt=mai"><em class="fa fa-envelope-o"></em> recipesearch@hotmail.com</a></li>
                            </ul>
                        </div>
                        <div class="gtco-widget" id="secondfooter">
                            <h3 style="color:black">{% trans %} footer.social {% endtrans %}</h3>
                            <ul class="gtco-social-icons">
                                <li><a style="color:lightblue" href="https://twitter.com/SearcherRecipe"><i class="fa fa-twitter"></i></a></li>
                                <li><a style="color:darkblue" href="https://www.facebook.com/profile.php?id=100014195167744"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a style="color:blueviolet" href="https://www.instagram.com/recipesearcher/"><i class="fa fa-instagram"></i></a></li>
                                <li><a style="color:red" href="https://es.pinterest.com/SearcherRecipe/"><i class="fa fa-pinterest-square"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 text-center copyright">
                        <p><small class="block">&copy; {% trans %} footer.copyright {% endtrans %}</small> 
                            <small class="block">{% trans %} footer.disenno {% endtrans %}: <a target="_blank">DCD©</a> {% trans %} footer.iconos {% endtrans %} <a href="glyphicons.com" target="_blank">Glyphicons</a></small></p>
                    </div>
            </div>
        </div>
    </footer>
{% endblock %}