{% extends 'base.html.twig' %}
            {% block javascripts %}
                <script> var ROOT_URL = "{{ url('portada')}}"; </script>
                <script src="{{ asset('bundles/recipe/js/autocomplete-ingredients.js') }}"></script>                 
            {% endblock %}
    {% block body %}
        <div class="gtco-loader"></div>
	
	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">                            
                            <div class="col-md-12 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">
                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <h3 class="cursive-font">Busca la receta que necesitas</h3>
                                                <form action="#" autocomplete="off">
                                                    <div class="row form-group">
                                                        <div class="col-md-6">
                                                            <label for="activities">Ingredientes</label>
                                                            <p>
                                                                <input type="text" id="myTextField" />
                                                                <div id="match">

                                                                </div>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h2><strong>Ingredientes escogidos</strong></h2>
                                                            <p>
                                                                <ul id="elementos">
                                                                    
                                                                </ul>
                                                            </p>
                                                        </div>
                                                    </div>                                                                                                        

                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit"  id="sendIngredients" disabled="true" class="btn btn-primary btn-block" onclick="location.href='{{ path('pagina', { nombrePagina: 'recipe' } ) }}'" value="Encuentra tu receta">
                                                        </div>
                                                    </div>
                                                </form>	
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>

        <div id="gtco-counter" class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font primary-color">Recipe Searcher</h2>
                        <p>La página que rompe con las páginas de recetas tradicionales, no busques una receta intentando tener los ingredientes 
                            necesarios en tu casa, simplemente elige cuales quieres usar y nosotros te proponemos qué recetas podrías elaborar segun tus especificaciones</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <span class="counter js-counter" data-from="0" data-to="70" data-speed="5000" data-refresh-interval="50">1</span>
                            <span class="counter-label">Recetas disponibles</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <span class="counter js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
                            <span class="counter-label">Ingredientes</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <span class="counter js-counter" data-from="0" data-to="3437" data-speed="5000" data-refresh-interval="50">1</span>
                            <span class="counter-label">Visitas</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="feature-center">
                            <span class="counter js-counter" data-from="0" data-to="2016" data-speed="5000" data-refresh-interval="50">1</span>
                            <span class="counter-label">Año de comienzo</span>
                        </div>
                    </div>
                </div>
            </div>
	</div>
        
	<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1>&ldquo; Comer para vivir y vivir para comer&rdquo;</h1>
                        <p>&mdash; Henry Fielding</p>
                    </div>	
                </div>
            </div>
	</div>

	

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
        
    {% endblock %}

