{% extends 'base.html.twig' %}
    {% block body %}
        <div class="gtco-loader"></div>
            <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="gtco-container" id="ayuda">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        ¿Qué hago si no encuentro una receta?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Puedes mandarnos tus mejores recetas al correo con una imagen, los ingredientes y todo lo necesario para prepararla
                                    nosotros la publicaremos tras ser revisada y pondremos tu nombre en ella.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        ¡No hay un ingrediente que necesito!
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">A veces nos faltan ingredientes para completar ciertas recetas, si este es tu caso
                                    envíanos al correo los ingredientes que eches en falta en nuestra página y una receta en la que se suela usar
                                    ¡Crearemos una variante de esa receta con ese ingrediente y pondremos tu nombre en ella!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Duda 3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Duda 4
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">Puedes mandarnos tus mejores recetas al correo con una imagen, los ingredientes y todo lo necesario para prepararla
                                    nosotros la publicaremos tras ser revisada y pondremos tu nombre en ella.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                        Duda 5
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">Puedes mandarnos tus mejores recetas al correo con una imagen, los ingredientes y todo lo necesario para prepararla
                                    nosotros la publicaremos tras ser revisada y pondremos tu nombre en ella.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                        Duda 6
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">Puedes mandarnos tus mejores recetas al correo con una imagen, los ingredientes y todo lo necesario para prepararla
                                    nosotros la publicaremos tras ser revisada y pondremos tu nombre en ella.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>        
    {% endblock %}
