{% extends 'base.html.twig' %}
    {% block body %}
<div id="cp_widget_4f7fe2dd-7018-481d-8619-da6b72f53ef5">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_4f7fe2dd-7018-481d-8619-da6b72f53ef5"; cpo["_fid"] = "AQIAyzNZtKQd";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='https://www.cincopa.com/video-portal'>Video Portal</a> for Business solution.</noscript>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- 
        <div class="gtco-loader"></div>
            <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="gtco-container" id="ayuda">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        ¿Qué hago si no encuentro una receta?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Puedes mandarnos tus mejores recetas al correo con una imagen, los ingredientes y todo lo necesario para prepararla
                                    nosotros la publicaremos tras ser revisada y pondremos tu nombre en ella.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        ¡No hay un ingrediente que necesito!
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">A veces nos faltan ingredientes para completar ciertas recetas, si este es tu caso
                                    envíanos al correo los ingredientes que eches en falta en nuestra página y una receta en la que se suela usar
                                    ¡Crearemos una variante de esa receta con ese ingrediente y pondremos tu nombre en ella!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        ¿Cómo añadir una receta?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">En desarrollo...
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        ¿Qué significan los porcentajes?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">Es la manera de indicarte qué receta usa la mayor proporción de tus ingredientes, puedes guiarte por nuestros porcentajes o simplemente elegir entre la infinidad de recetas disponibles para elaborar tus mejores platos.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                        ¿Cómo inicio sesión?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">En la parte superior derecha de la pantalla tienes el botón de iniciar sesión simplemente clícalo e introduce tus datos
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                        ¿Cómo puedo registrarme y elaborar recetas?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">Para registrar debes pulsar el botón de Iniciar sesión y a continuación el de Registrarse, ¡así de sencillo!.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>     
        -->
    {% endblock %}
