{% extends 'base.html.twig' %}
    {% block body %}
        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2 class="cursive-font primary-color">✔ Nombre de la receta ✔</h2>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
    {% endblock %}
    