/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Oct-2016, 12:06:57
    Author     : osboxes
*/


button, input, optgroup, select, textarea {
    color: #1C1C1C;
    font: inherit;
    margin: 0;
}

ul#elementos {
    color: #ff8000;
    font-family: cursive;
    border-style:groove;
}

div#match{
    color: #fff;
}

a#anavbar {
    color: #265a88;
}

span#linavbar{
    color: #265a88;
}

#imagerecipe{
    float: right
}

#ingredientrecipe{
    float: left;
}

.sinpadding[class*="col-"]{
    padding: 0;
    margin: 0;
}

figure{
    width: 350px;
    height: 350px;
}

div#ayuda{
    margin-top: 150px;
}

div#block_user{
    margin-top: 150px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

p#profilenamep{
    color: #000;
}

ul#centernavbar{
    clear: right;
}

i#fa-user_icon{
    font-size: 100px;
}